c qbfgen params: ./generators/blocksqbf/blocksqbf -c 2 -b 2 -bs 2 -bs 2 -bc 2 -bc 1
c time: Thu Oct  4 12:56:08 2012
c seed = 642651632
c sort clauses = no
c dup. resolve limit = 100
c verbosity = 0
c num blocks = 2
c num clauses = 2
c block_sizes[0] = 2
c block_sizes[1] = 2
c num vars = 4
c perblock_nums[0] = 2
c perblock_nums[1] = 1
c clause len = 3
c minblockids[0] = 1
c maxblockids[0] = 2
c minblockids[1] = 3
c maxblockids[1] = 4
p cnf 4 2
a 1 2 0
e 3 4 0
2 1 4 0
2 -1 -4 0
